.noticeList {
  animation: scroll-anim 30s infinite;
  animation-timing-function: linear;
  animation-play-state: running;
}

.noticeList:hover {
  animation-play-state: paused;
}

@keyframes scroll-anim {
  0% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(-100%);
  }
}
