@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari, and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge, and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

.animation-on-scroll {
  position: relative;
  transform: translateY(150px) scale(0.75);
  opacity: 0;
  transition: all 1s ease;
}

.animation-on-scroll.active-animation-on-scroll {
  transform: translateY(0) scale(1);
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .animation-on-scroll:nth-child(1) {
    transition-delay: 200ms;
  }
  .animation-on-scroll:nth-child(2) {
    transition-delay: 400ms;
  }
  .animation-on-scroll:nth-child(3) {
    transition-delay: 600ms;
  }
  .animation-on-scroll:nth-child(4) {
    transition-delay: 800ms;
  }
  .animation-on-scroll:nth-child(5) {
    transition-delay: 1000ms;
  }
  .animation-on-scroll:nth-child(6) {
    transition-delay: 1200ms;
  }
  .animation-on-scroll:nth-child(7) {
    transition-delay: 1100ms;
  }
  .animation-on-scroll:nth-child(8) {
    transition-delay: 1200ms;
  }
  .animation-on-scroll:nth-child(9) {
    transition-delay: 1300ms;
  }
  .animation-on-scroll:nth-child(10) {
    transition-delay: 1400ms;
  }
  .animation-on-scroll:nth-child(11) {
    transition-delay: 1500ms;
  }
  .animation-on-scroll:nth-child(12) {
    transition-delay: 2400ms;
  }
}
