.footer {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url('/mccgate.jpeg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}